<?xml version="1.0"?>
<config>
	<modules>
		<Elgentos_ClientLog>
			<version>0.1.0</version>
		</Elgentos_ClientLog>
	</modules>
	<frontend>
		<layout>
			<updates>
				<clientlog>
					<file>clientlog.xml</file>
				</clientlog>
			</updates>
		</layout>
		<routers>
			<clientlog>
				<use>standard</use>
				<args>
					<module>Elgentos_ClientLog</module>
					<frontName>clientside_javascript_error_log</frontName>
				</args>
			</clientlog>
		</routers>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<clientlog translate="title" module="clientlog">
											<title>ClientLog</title>
										</clientlog>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<global>
        <helpers>
            <clientlog>
                <class>Elgentos_ClientLog_Helper</class>
            </clientlog>
        </helpers>
    </global>
    <default>
    	<dev>
    		<log>
    			<clientside>1</clientside>
    		</log>
    	</dev>
    </default>
</config>
